figure.center{
	text-align: center;
}
a {color:#1e4f8f;}
a:active, a:hover, a:focus {color: #5cbcff;}
.gsf-fields{background:#5cbcff;}


.tt-dropdown-menu {
    right: -20% !important;
    margin-top: 0 !important;
    z-index:20000;
}

.partners-view-all {
    display: inline;
    padding: 0px 39% 0 63%;
    color: #474d4e;
    text-decoration: none;
    width: inherit;
}
.title-content .title h4 {
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 3.2rem;
    line-height: 1.2;
    color: #525c6f;
    border-bottom: none;
    text-transform: none;
}
.title h4>span {
    display: block;
}
.title h4:after {
    content: '';
    margin-top: 15px;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #97d3f3;
}
.pg-item-title {
 display: block;
}

.js-mySelection{
 display: none;
}







/*Font icons*/
@font-face {
  font-family: 'icomoon';
  src:    url('fonts/milipol-iconfont/zzzicomoon.eot?iwp27p');
  src:    url('fonts/milipol-iconfont/zzzicomoon.eot?iwp27p#iefix') format('embedded-opentype'),
    url('fonts/milipol-iconfont/zzzicomoon.ttf?iwp27p') format('truetype'),
    url('fonts/milipol-iconfont/zzzicomoon.woff?iwp27p') format('woff'),
    url('fonts/milipol-iconfont/zzzicomoon.svg?iwp27p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icon:before {
  font-family: "icomoon";
  font-size:30px;
}

.icon-conf:before {
  content: '\e205';
}
.icon-startup:before {
  content: '\e204';
}
.icon-rdv:before {
  content: '\e208';
}
.icon-observatoire:before {
  content: '\e211';
}
.icon-ateliers:before {
  content: '\e203';
}
.icon-demo:before {
  content: '\e206';
} 
.icon-search:before {
  content: '\e200';
}
.icon-facebook:before {
  content: '\e213';
}
.icon-pinterest:before {
  content: '\e214';
}
.icon-twitter:before {
  content: '\e215';
}
.icon-mobile-menu:before {
  content: '\e21f';
}
.icon-visiteur:before {
  content: '\e21a';
}
.icon-exposant:before {
  content: '\e201';
}
.icon-journaliste:before {
  content: '\e219';
}
.icon-international:before {
  content: '\e212';
}
.icon-stand:before {
  content: '\e207';
}
.icon-sponsor:before {
  content: '\e202';
}
.icon-programme:before {
  content: '\e20e';
}
.icon-infospratiques:before {
  content: '\e221';
}
.icon-presse:before {
  content: '\e222';
}
.icon-news:before {
  content: '\e20c';
}
.icon-medias:before {
  content: '\e20b';
}
.icon-brochure:before {
  content: '\e210';
}
.icon-liste-exposants:before {
  content: '\e20a';
}
.icon-appli:before {
  content: '\e20f';
}
.icon-plan:before {
  content: '\e20d';
}


.nf-main-content {
    color: #676767;
}


.home-dates .dates .day {
    font-size: 4.1rem;
}
.home-dates img {
    margin-top: -36px;
    width: 413px;
}
.home-header-wrapper {
    margin-top: 57px;
}